@import "./bootstrap.min.css";

.position-alert {
  position: fixed;
  bottom: 0;
  right: 15px;
}

.modal-container {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.377);
}
.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 13px 0px #0000005c;
}

.custom-modal > .title {
  color: black;
  border-bottom: 1px solid #00000013;
  text-align: center;
  padding-bottom: 5px;
}

.custom-modal > span {
  position: fixed;
  right: 15px;
  top: 10px;
  cursor: pointer;
  color: rgb(49, 49, 49);
}

.form-group {
  position: relative;
}
.form-group > .input-icon {
  position: absolute;
  right: 10px;
  top: 32px;
  cursor: pointer;
}

.full-size {
  height: 100vh;
  position: fixed;
  width: 100%;
}

table tbody {
  display: block;
  max-height: 450px;
  overflow-y: auto;
}

table thead,
table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.floating-container {
  position: contents;
  .floating {
    position: absolute;
    background-color: white;
    border: 1px solid #0000001c;
    box-shadow: 1px 1px 4px 0px #00000033;
    padding: 5px 0;
    border-radius: 3px;

    > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      > li {
        cursor: pointer;
        padding: 0 15px;
        user-select: none;
        &:hover {
          background-color: rgb(248, 249, 250);
        }
      }
    }
  }
}
